*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.energy
{
    position:absolute;
    left:700px;
    width: 300px;
    height:300px;
}

.energy span
{
    position: absolute;
    width: calc(300px + var(--i));
    height:calc(300px + var(--i));
    background: var(--clr); 
    border-radius:50%;
    transform-origin: calc(100px + var(--i));
    animation: animate 5s linear infinite;
    animation-duration: calc(var(--d));
    mix-blend-mode: plus-;
    filter: blur(10px);
    visibility: visible;
}
.energy span:nth-child(even)
{
    animation-direction: reverse;
}

@keyframes animate
{
 0%
{
transform:rotate(0deg);
}
 100%
{
    transform: rotate(360deg);
}

}


@keyframes animate
{
 0%
{
transform:rotate(0deg);
}
 100%
{
    transform: rotate(360deg);
}}

h1{
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: absolute;
    margin-left: -500px ;
}

.color2 .color3 .color4{
    display: block;
}


#text1{
    color:		#efbbff;


}

#text2{
    color:		#d896ff;

}

#text3{
    color: 	#be29ec;


}

#text4{
    color:	#800080;

}

.home{
    color:#ffb3ba;
  }